
*{
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: gray;
}

img {
    background-color: #718bff;
    border-radius: 15px;
}


.card {
    max-width: 40%;
    background: linear-gradient(#869cff, #d3cdff);
    padding: 50px 35px;
    color: white;
    margin: 0 auto;
    border-radius: 100px;
    text-align: center;
}

.description {
    font-size: 26px;
    font-weight: bold; 
}

.city {
    background-color: #718bff;
    border-radius: 15px;
    padding: 30px;   
}

.temp {
    background-color: #718bff;
    border-radius: 15px;
    padding: 30px;   
}

.feels_like {
    background-color: #718bff;
    border-radius: 15px;
    padding: 30px;   
}